<!DOCTYPE html>

<html>

<head>

<title>
Admin Dashboard
</title>

<link rel="stylesheet" href="/static/style.css">

</head>


<body>


<h1>
Admin Dashboard
</h1>


<h2>
Blood Donation Management System
</h2>



<h3>
Donor Management
</h3>


<a href="/donors">

<button>
View Donors
</button>

</a>



<br><br>



<h3>
Blood Requests
</h3>


<a href="/requests">

<button>
View Requests
</button>

</a>



<br><br>



<h3>
Blood Stock
</h3>


<a href="/stock">

<button>
View Blood Stock
</button>

</a>



<br><br>



<a href="/dashboard">

<button>
Back Dashboard
</button>

</a>



</body>

</html>