<!DOCTYPE html>

<html>

<head>

<title>
Dashboard
</title>

<link rel="stylesheet" href="/static/style.css">

</head>


<body>


<h1>
Blood Donation Management System
</h1>


<h2>
Welcome to Dashboard
</h2>



<div>


<h3>
Donate Blood
</h3>


<p>
Help save lives by donating blood.
</p>


<a href="/donate">

<button>
Donate Blood
</button>

</a>


</div>



<br><br>



<div>


<h3>
Request Blood
</h3>


<p>
Find required blood group quickly.
</p>


<a href="/request">

<button>
Request Blood
</button>

</a>


</div>



<br><br>



<div>


<h3>
Admin
</h3>


<p>
Manage donors and blood requests.
</p>


<a href="/admin">

<button>
Admin Dashboard
</button>

</a>


</div>



<br><br>


<a href="/">

<button>
Logout
</button>

</a>


</body>


</html>