<!DOCTYPE html>

<html>

<head>

<title>
Donate Blood
</title>

<link rel="stylesheet" href="/static/style.css">

</head>


<body>


<h1>
Donate Blood
</h1>


<form method="POST">


Name:

<br>

<input name="name" required>

<br><br>


Blood Group:

<br>

<select name="blood_group">


<option>A+</option>
<option>A-</option>
<option>B+</option>
<option>B-</option>
<option>O+</option>
<option>O-</option>
<option>AB+</option>
<option>AB-</option>


</select>


<br><br>


Age:

<br>

<input name="age">


<br><br>


Phone:

<br>

<input name="phone">


<br><br>


<button>
Submit Donation
</button>


</form>


</body>

</html>