<!DOCTYPE html>

<html>

<head>

<title>
Blood Donation System
</title>

<link rel="stylesheet" href="/static/style.css">

</head>


<body>


<div class="home">


<img src="/static/blood.png" class="blood-img">



<h1>
🩸 Blood Donation Management System
</h1>


<h2>
Donate Blood • Save Lives
</h2>


<p>
Your small contribution can give someone a second chance at life.
</p>



<div class="buttons">


<a href="/register">

<button>
Register
</button>

</a>



<a href="/login">

<button>
Login
</button>

</a>


</div>


</div>


</body>

</html>